<ul>

<li>Sam Livingston-Gray <a href="http://www.youtube.com/watch?v=W_hsEi_UZHE">talks about Tools
for Pair Programming (video)</a>. See also the
<a href="https://github.com/livingsocial/ls-pair">ls-pair README</a>, which
distills many of the best practices Sam and others at LivingSocial
have evolved for remote pairing.</li>
<li>Sam also has a <a href="http://youtu.be/wKEGA8oEWXw">tmux Quick Start
screencast</a> to get you all orientated with this terminal power tool.</li>
<li>Joe Moore has a whole
<a href="http://remotepairprogramming.com/">blog dedicated to remote pair-programming</a>.</li>
<li><a href="http://zeespencer.com/articles/building-a-remote-pairing-setup/">"Build
a Command Line Remote Pairing Setup"</a>, from Zee Spencer</li>
<li>Evan Light's
"<a href="http://evan.tiggerpalace.com/articles/2011/10/17/some-people-call-me-the-remote-pairing-guy-/">The Remote Pairing Guy</a>"
blog post.</li>
<li>Steven Haddox's
"<a href="http://blog.stevenhaddox.com/2012/04/11/remote-pairing-with-ssh-tmux-vim/">Remote Pairing with ssh, tmux, and vim</a>"
blog post.</li>
<li>Angela Harms <a href="http://www.youtube.com/watch?v=OQXEzwXtzJ8">has a talk</a> about
common pitfalls.</li>


<li><a href="https://git-scm.com/book/en/v2/Getting-Started-Git-Basics">Git Hub Work Flow</a><li>

<!-- <li><a href="http://pragprog.com/book/jkrp/remote-pairing">Remote
Pairing: Collaborative Tools for Distributed Development</a> is a book by Joe Kutner </li> -->
<!-- <li>The <a href="http://wideteams.com">WideTeams Podcast</a> often features
discussions of remote pair-programming.</li> -->
<!-- <li><a href="http://www.codermatch.me">CoderMatch</a> is a site to find a pair programming buddy to code with locally or remotely.</li> -->
<!-- <li><a href="http://emberpairs.com">Emberpairs.com</a> is a site to find someone to pair
with on Ember projects.</li> -->
<!-- <li><a href="http://pair-with-me.herokuapp.com/">Pair-with-me.herokuapp.com</a> is an
aggregator for #pairwithme tweets, by Marty Hines.</li>
<li><a href="http://www.airpair.com">airpair.com</a> lets developers easily list themselves
for paid pairing.</li>
<li><a href="http://rubyrogues.com/026-rr-pair-programming/">Ruby Rogues Podcast episode #26</a>
talked about pair programming.</li> -->

<!-- <li><a href="http://letspair.net">letspair.net</a> is a site where you can schedule your
pair programming sessions or join someone else's.</li>
<li><a href="http://www.meetup.com/remotepairprogrammers/">Remote pair programmers meetup</a>
is a virtual meetup for finding pairs.</li>
</ul> -->

Resources on git 
<!-- <ul>
<li><a href="https://github.com/glg/git-pairing">git-pairing</a> Share code authorship when pairing and
using git/github with commands like <code>git pair</code>, <code>git solo</code> and <code>git whoami</code></li>
<li><a href="http://pivotallabs.com/did-we-git-pair/">Did we git pair?</a> includes -->
 --><!-- <a href="https://github.com/pivotal/pivotal_workstation/blob/master/templates/default/git_scripts_pairs.erb">Chef recipes</a>
for sharing commit authorship</li>
<li><a href="https://github.com/therubymug/hitch">hitch</a> Git author attribution helper for pair programmers.
Also see <a href="http://thechangelog.com/hitch-git-author-attribution-helper-for-pair-programmers/">a guide on the changelog blog</a></li>
</ul>