/*Global fonts sized and styles*/

body {
  font-size: 1.5rem;
  border-top: 2px solid #03509D;
  padding-bottom: 40px;
  background: url(../img/shattered_@2X.png) top left;
  -webkit-box-shadow: inset 0px 1px 10px 0px rgba(153, 153, 153, .7);
  -moz-box-shadow: inset 0px 1px 10px 0px rgba(153, 153, 153, .7);
  box-shadow: inset 0px 1px 10px 0px rgba(153, 153, 153, .7);
}
h4 {
  font-size: 16px;
}
p {
  margin: 10px 0;
}
button {
  outline: none;
}

/*bootstrap's row class gives some padding on top and bottom*/

.row {
  padding: 10px 0;
}

/* header styles */

.header {
  text-shadow: 1px 1px 2px rgba(250, 250, 250, 1);
  margin-bottom: 30px;
  padding: 10px 0;
  border-radius: 5px;
}
.header li.logout-button a {
  color: rgb(138, 0, 0) !important;
}
.header a.pair {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

/*classes for github login button and logout button*/

.nav>li>a.login-link:focus, .nav>li>a.login-link:hover {
  background-color: transparent !important;
  opacity: .88;
}
.login-button {
  margin-top: -3px;
  margin-left: -10px;
  width: 160px;
  border: 1px solid #9A9696;
  border-radius: 5px;
}

/*sets the header font size and styles*/

.header h3 {
  font-size: 24px;
  margin-top: 2px;
  padding-left: 10px;
}
.header a {
  color: #797171;
  font-size: 18px;
  text-decoration: none;
}

/*Tabs for all of out pages and Title*/

.nav>li>a {
  padding-top: 3px !important;
  padding-bottom: 5px !important;
}
#main .nav-pills>li.active>a {
  background-color: rgb(220, 220, 220);
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(20, 20, 20, 1);
}
#main .nav-pills>li.active>a {
  background-color: #A2A1A1;
  color: #FFFFFF;
}

/*header row adds a line under headers*/

hr {
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

/*bordered class we used for all of our borders*/

.bordered-box {
  border: 1px solid #9A9696;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(216, 217, 218, .6);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
}

/*sets font size for our home hero text*/

.homehero {
  font-size: 2.0rem;
  margin: 10px 10px;
}

/*adds a shadow to our home hero image*/

.img-shadow {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.65);
}

/*Adds a background to our guide page blocks of text*/

.guide-block {
  margin-bottom: 20px;
  border-radius: 5px;
  background: rgba(222, 222, 222, 0.2);
}

/*Assigns font size and styles to our guide block text*/

.guide-block h3 {
  padding-top: 10px;
  font-size: 1.8rem;
}
.guide-block ul {
  list-style: none;
  padding-left: 0;
}
.guide-block p, .guide-block ul li {
  padding: 5px;
}

/*style for our links on the guide page*/

.links {
  padding-left: 15px;
  font-size: 2.0rem;
}

/*style for profile pictures retrieved from github*/

.profile-pic {
  width: auto;
  height: 140px;
  margin: 0 auto;
}

/*style for our profile editor button on profile page*/

.edit-profile-btn {
  width: 200px;
  margin: 0 auto;
  display: block;
  background: #DAD8D8;
  background-image: -webkit-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -moz-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -ms-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -o-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: linear-gradient(to bottom, #c4c4c4, #5c5c5c);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
}
.edit-profile-btn:hover {
  background: #c4c4c4;
  text-decoration: none;
}

/*style for text on tags returned on profile pages*/

.tags {
  color: #03509D;
  margin-left: 5px;
  font-weight: light;
  font-style: italic;
  text-shadow: .5px .5px 1px rgba(255, 255, 255, .3);
  font-size: 1.6rem;
  display: inline-block;
}

/*style for projects button on all projects*/

.project-page-btn {
  width: 130px;
  margin: 0 auto;
  display: block;
  background: #c4c4c4;
  background-image: -webkit-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -moz-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -ms-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -o-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: linear-gradient(to bottom, #c4c4c4, #5c5c5c);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 20px;
  text-decoration: none;
}
.edit-profile-btn:hover {
  background: #c4c4c4;
  text-decoration: none;
}

/*adds padding to our projects and text of project pagepage*/

.projects-box {
  padding-top: 10px;
  padding-bottom: 10px;
}
.projects-text {
  padding-bottom: 10px;
}

/*Text displays when search results comees up empty*/

.noresults {
  font-size: 20px;
  color: #FF4931;
}

/*text on the type of partner users are*/

.user-type {
  font-size: 1.8rem;
}
